body {
  font-family: 'Lato', sans-serif;
  padding-top: 70px;
  background-color: white !important;
}

.display-5 {
  font-family: 'Bellefair', serif;
  font-weight: 700;
}

/*.navbar {
  background-color: #829682;
}*/

#socialMedia {
  font-size: 2.5em !important;
}

.navbar-inverse {
  background: #2c3e50 !important;
}

.jumbotron {
  color: #2c3e50 !important;
  background-color: #DCDCDC !important;
}
.thumbnail img {
	height: 500px;
	width: 100%;
	border: 1px solid #ecf0f1;
}
img.grayscale {
     filter: gray;
    -webkit-filter: grayscale(100%); 
    -webkit-transition: all 1.5s ease;
    -webkit-backface-visibility: hidden; 
}

img.grayscale:hover {
    -webkit-filter: grayscale(0%);
}

.zoom {
    transition: transform .1s;    
}
.zoom:hover {
    transform: scale(1.05); 
}
