body {
  font-family: 'Lato', sans-serif;
  padding-top: 70px;
  background-color: white !important;
}

.display-5 {
  font-family: 'Bellefair', serif;
  font-weight: 700;
}

/*.navbar {
  background-color: #829682;
}*/

#socialMedia {
  font-size: 2.5em !important;
}

.navbar-inverse {
  background: #2c3e50 !important;
}

.jumbotron {
  color: #2c3e50 !important;
  background-color: #DCDCDC !important;
}
.thumbnail img {
	height: 500px;
	width: 100%;
	border: 1px solid #ecf0f1;
}
img {
	filter: gray;
	-webkit-filter: grayscale(1);
	-webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    	-moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
img:hover {
	filter: none;
	-webkit-filter: grayscale(0);
}
#change div:hover{
  	opacity:5;
  cursor:pointer;
}
